registry=https://registry.npmjs.org/
package-lock=false
audit=false
fund=false
legacy-peer-deps=true
progress=false
loglevel=notice
prefer-online=true
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=300000
strict-ssl=true
